@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

html::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: outLoader .2s forwards ease;
    animation-delay: 3.2s;
    background-color: white;
    z-index: 10;
}

.loader img {
    width: 200px;
}

.loader .barra {
    display: block;
    width: 300px;
    height: 15px;
    border: solid 1px #f0f0f0;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.loader .barra::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 13px;
    background-image: linear-gradient(270deg, #9867E0, #E067D4);
    border-radius: 50px;
    animation: correBarra 3s forwards ease;
    animation-delay: .5s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header .container_img {
    flex-grow: 1;
}

.header .container_img img {
    width: 50px;
    animation: revealBottom 1s forwards;
    animation-delay: 2.8s;
}

.header .container_button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu ul li a {
    font-size: 13px;
    font-weight: 400;
    color: black;
    padding: .7rem 1rem;
    transition: all .2s ease;
}

.header .menu ul li:first-child {
    animation: revealTop 1s forwards;
    animation-delay: 2.8s;
}

.header .menu ul li:nth-child(2) {
    animation: revealTop 1.2s forwards;
    animation-delay: 2.8s;
}

.header .menu ul li:nth-child(3) {
    animation: revealTop 1.4s forwards;
    animation-delay: 2.8s;
}

.header .menu ul li:nth-child(4) {
    animation: revealTop 1.6s forwards;
    animation-delay: 2.8s;
}

.header .menu ul li a:hover {
    background-color: rgba(236, 236, 236, 0.414);
    border-radius: 10px;
    backdrop-filter: blur(60px);
}

.header button {
    padding: .7rem 2rem;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    background-color: #9867E0;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
    animation: revealTop 1s forwards;
    animation-delay: 2.8s;
    margin-left: 1rem;
}

.header button:hover {
    box-shadow: .2rem .2rem 0 black;
    transform: translateX(-10px);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: calc(100vh - 6rem);
    padding-bottom: 5rem;
    position: relative;
    padding: 15rem 10rem 20rem;
}

.hero .icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.hero .icons i {
    font-size: 15px;
    width: 50px;
    height: 50px;
    border: solid 1px #8459c3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #9867E0;
    cursor: pointer;
    transition: all .2s ease;
}

.hero .icons i:first-child {
    animation: revealLeft 1s forwards;
    animation-delay: 2.8s;
}

.hero .icons i:nth-child(2) {
    animation: revealLeft 1.2s forwards;
    animation-delay: 2.8s;
}

.hero .icons i:last-child {
    animation: revealLeft 1.4s forwards;
    animation-delay: 2.8s;
}

.hero .icons i:hover {
    background-color: #9867E0;
    color: white;
}

.hero .text_hero {
    width: 700px;
    animation: revealTop 2s forwards;
    animation-delay: 2.8s;
}

.hero .text_hero p {
    font-size: 15px;
    font-weight: 500;
}

.hero .text_hero h1 {
    font-size: 100px;
    font-weight: 1000;
    line-height: 100px;
}

.hero .text_hero h1 span {
    background-image: linear-gradient(90deg, #9867E0, #E067D4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero .text_hero button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #9867E0, #E067D4);
    border: none;
    border-radius: 50px;
    padding: .5rem .5rem .5rem 1rem;
    color: white;
    gap: .5rem;
    font-size: 12px;
    cursor: pointer;
    transition: all .2s ease;
}

.hero .text_hero button i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    color: #8459c3;
    transition: all .2s ease;
}

.hero .text_hero button:hover {
    transform: translateX(10px);
}

.hero .text_hero button:hover i {
    transform: rotate(-45deg);
}

.hero .img_hero {
    background-color: #9867E0;
    border-radius: 50px;
    transform: rotate(15deg);
    overflow: hidden;
    position: relative;
    box-shadow: .5rem .5rem 2rem #8359c39a;
    animation: scale 1s forwards ease;
    animation-delay: 2.8s;
}

.hero .img_hero img {
    width: 500px;
    transform: rotate(-20deg) translate(100%, 60px);
    position: relative;
    z-index: 1;
    aspect-ratio: 1/1;
    object-fit: cover;
    animation: revealRight 1s forwards;
    animation-delay: 4s;
}

.hero .img_hero::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 200px;
    border: solid 50px #8459c3;
    border-radius: 50%;
}

.hero .img_hero::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 300px;
    height: 300px;
    background-color: #8459c3;
    border-radius: 50%;
}

.cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 20rem 5rem;
}

.cards .card:first-child {
    grid-column: 1/3;
}

.cards .card:nth-child(2) {
    grid-column: 3/4;
}

.cards .card:last-child {
    grid-column: 4/5;
}

.cards .card:first-child {
    background-image: linear-gradient(0deg,
            rgb(0, 0, 0),
            rgba(0, 0, 0, 0.398)), url("/assets/estadistica.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.cards .card:first-child h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.cards .card:first-child p {
    color: white;
    font-size: 13px;
}

.cards .card:nth-child(2) {
    background-color: #8459c3;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 20px;
}

.cards .card .img_card1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cards .card .img_card1 img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    width: 60px;
    border-radius: 50%;
}

.cards .card .img_card1 img:first-child {
    transform: translateX(10px);
}

.cards .card .text_card1 p {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.cards .card .text_card1 h1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.cards .card:last-child {
    background-color: #C466D8;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.cards .card:last-child::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: -70px;
    border-radius: 50%;
    border: solid 30px #9a52aa4e;
}

.cards .card:last-child::before {
    content: '';
    width: 150px;
    height: 150px;
    background-color: #9a52aa51;
    position: absolute;
    bottom: -70px;
    right: -70px;
    border-radius: 50%;
}

.cards .card:last-child .img_card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    gap: 1rem;
}

.cards .card:last-child .img_card2 p {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem 2rem .2rem .2rem;
    border-radius: 50px;
    font-size: 13px;
    color: black;
    font-weight: 500;
}

.cards .card:last-child .img_card2 p i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #C466D8;
    color: white;
    transform: rotate(0deg);
    flex: 0 0 auto;
}

.cards .card:last-child .img_card2 i {
    font-size: 30px;
    color: white;
    transform: rotate(-45deg);
}

.cards .card:last-child .text_card2 p {
    font-size: 13px;
    color: white;
    position: relative;
    z-index: 1;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 20rem;
}

.services .img_service {
    filter: drop-shadow(1px 1rem 1rem rgba(0, 0, 0, 0.205));
    width: 500px;
}

.services .img_service:nth-child(2) {
    display: none;
}

.services .text_services h1 {
    display: flex;
    align-items: start;
    font-size: 140px;
    font-weight: 900;
    background-image: linear-gradient(0deg, #9867E0, #E067D4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.services .text_services p:nth-child(2) {
    margin-top: -1rem;
}

.services .text_services p {
    font-size: 14px;
    margin-bottom: .5rem;
    width: 500px;
}

.services .text_services button {
    padding: .7rem 2rem;
    margin-top: .5rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1.5px #9867E0;
    color: #9867E0;
    font-weight: 800;
    cursor: pointer;
    transition: all .2s ease;
}

.services .text_services button:hover {
    transform: translateX(20px);
    background-color: #9867E0;
    color: white;
    font-weight: 800;
}

.action {
    background-color: #8459c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    margin-top: 5rem;
    overflow: hidden;
    position: relative;
}

.action img {
    width: 800px;
    margin-right: -10rem;
    position: relative;
    z-index: 1;
}

.action .circle1 {
    display: block;
    position: absolute;
    top: -250px;
    left: -350px;
    width: 500px;
    height: 500px;
    border: solid 50px #593f8027;
    border-radius: 50%;
}

.action .circle2 {
    display: block;
    position: absolute;
    bottom: -250px;
    right: -300px;
    width: 500px;
    height: 500px;
    background-color: #593f8027;
    border: solid 50px #593f8027;
    border-radius: 50%;
}

.action .circle3 {
    display: block;
    position: absolute;
    bottom: -450px;
    right: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background-color: #593f8027;
    border: solid 50px #593f8027;
    border-radius: 50%;
}

.action .circle4 {
    display: block;
    position: absolute;
    top: -420px;
    right: 30%;
    width: 500px;
    height: 500px;
    border: solid 50px #593f8027;
    border-radius: 50%;
}

.action .text_action {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 7rem;
}

.action .text_action h1 {
    font-size: 70px;
    font-weight: 900;
    color: white;
    line-height: 65px;
    margin-bottom: 1rem;
}

.action .text_action h3 {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.action .text_action h2 {
    color: #9867E0;
    margin-top: 1rem;
    border: solid 1px white;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
}

.whyus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 20rem;
    gap: 1rem;
}

.whyus img {
    width: 800px;
    filter: drop-shadow(1rem 1px 1rem rgba(0, 0, 0, 0.264));
}

.whyus .text_whyus {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.whyus .text_whyus h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 95px;
    margin-bottom: 1rem;
}

.whyus .text_whyus h1 span {
    background-image: linear-gradient(90deg, #9867E0, #E067D4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.whyus .text_whyus p {
    font-size: 14px;
}

.stadistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 10rem;
}

.stadistics .stadistic {
    background-color: #f4f4f4;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    text-align: center;
    border-radius: 20px;
}

.stadistics .stadistic h1 {
    font-size: 40px;
    font-weight: 900;
    color: #8459c3;
}

.stadistics .stadistic p {
    font-size: 14px;
}

#know {
    gap: 2rem;
    padding: 10rem 30rem;
    overflow: hidden;
    position: relative;
}

#know::after {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    border: solid 60px #8359c375;
    position: absolute;
    border-radius: 50%;
    left: -200px;
    top: 30px;
}

#know::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    right: -200px;
    bottom: 30px;
    background-color: #8359c375;
}

#know .text_know {
    width: 900px;
}

#know .text_know h1 {
    font-weight: 900;
    font-size: 60px;
    color: white;
}

#know .text_know p {
    color: white;
    font-size: 14px;
}

#know .text_know a {
    padding: .7rem 2rem;
    border: solid 1.5px white;
    display: inline-block;
    margin-top: .5rem;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    transition: all .2s ease;
}

#know .text_know a:hover {
    background-color: white;
    font-weight: 600;
    color: #8459c3;
    transform: translateX(20px);
}

#know img {
    width: 400px;
}

.last {
    background-image: linear-gradient(180deg, #9867E0, #b267e0);
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    color: white;
    font-weight: 800;
    margin-bottom: 15px;
}

footer .container .sec p {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .container .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.26);
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    border-radius: 50%;
}

footer .container .quicklins {
    position: relative;
}

footer .container .quicklins ul li {
    list-style: none;
}

footer .container .quicklins ul li a {
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}

footer .container .contact .info {
    position: relative;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span {
    color: white;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: white;
}

.copyrightText {
    width: 100%;
    padding: 20px 100px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.hr {
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.51);
    border: none;
    height: 1px;
}

@keyframes correBarra {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes outLoader {
    0% {
        transform: scale(1);
        opacity: 1;
        background-color: white;
    }

    100% {
        transform: scale(.5);
        opacity: 0;
        display: none;
        background-color: transparent;
    }
}

@keyframes revealBottom {
    0% {
        transform: scale(1.5) translateY(300px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes revealTop {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes revealLeft {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes revealRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: rotate(-20deg) translate(0px, 60px);
    }
}

@keyframes scale {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1) rotate(15deg);
    }
}

@media (width < 1700px) {
    .hero {
        gap: 1rem;
    }

    .hero .text_hero h1 {
        font-size: 90px;
        line-height: 90px;
    }

    .hero .img_hero img {
        width: 400px;
    }

    .cards {
        padding: 1rem 10rem 5rem;
    }

    .whyus {
        gap: 3rem;
    }

    .whyus img {
        width: 500px;
    }

    #know {
        padding: 10rem 20rem;
    }
}

@media (width < 1500px) {
    .action .text_action {
        padding: 5rem 3rem;
    }

    .action img {
        margin-right: -22rem;
    }
}

@media (width < 1400px) {
    .hero .text_hero {
        width: 400px;
    }

    .hero .text_hero h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .services .img_service {
        width: 400px;
    }

    .whyus .text_whyus h1 {
        font-size: 70px;
        line-height: 70px;
    }

    #know {
        padding: 10rem 10rem;
    }
}

@media (width < 1200px) {
    .hero {
        padding: 20rem 2rem 25rem;
    }

    .hero .icons {
        display: flex;
        flex-direction: row;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .cards {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem 5rem 5rem;
    }

    .cards .card:first-child {
        grid-row: 2;
        grid-column: 1/5;
        background-position: top left;
    }

    .cards .card:nth-child(2) {
        grid-row: 1;
        grid-column: 1/3;
    }

    .cards .card:last-child {
        grid-row: 1;
        grid-column: 3/5;
    }

    .services {
        gap: 1rem;
    }

    .services .img_service {
        width: 400px;
    }

    .services .text_services h1 {
        font-size: 100px;
        margin-bottom: .5rem;
    }

    .services .text_services p {
        width: 100%;
    }

    .action .circle4 {
        display: none;
    }

    .action .text_action h1 {
        font-size: 50px;
        line-height: 45px;
    }

    .whyus .text_whyus {
        width: 300px;
    }

    .whyus .text_whyus h1 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (width < 1000px) {
    .hero .img_hero {
        margin-left: -2rem;
        transition: all .2s ease;
    }

    .action img {
        width: 600px;
        margin-right: -16rem;
    }

    .whyus img {
        width: 450px;
    }

    .stadistics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0 10rem 10rem 10rem;
    }

    .stadistics .stadistic {
        width: 100%;
    }

    .stadistics .stadistic:first-child {
        grid-row: 1;
        grid-column: 1/3;
    }

    .stadistics .stadistic:nth-child(2) {
        grid-row: 2;
        grid-column: 1/5;
    }

    .stadistics .stadistic:last-child {
        grid-row: 1;
        grid-column: 3/5;
    }

    footer {
        padding: 40px;
    }

    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 20px 40px;
    }
}

@media (width < 900px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding: 5rem 2rem 10rem;
        gap: 5rem;
        justify-content: start;
        height: 100%;
    }

    .hero .img_hero {
        width: 400px;
        height: 400px;
        flex: 0 0 auto;
        margin-left: 0;
    }

    .hero .text_hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .services {
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
    }

    .services .img_service:first-child {
        display: none;
    }

    .services .img_service:nth-child(2) {
        display: flex;
        height: 300px;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    .services .text_services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .services .text_services h1 {
        margin-bottom: 2rem;
    }

    .services .text_services p:nth-child(3) {
        margin-bottom: 2rem;
    }

    .action {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .action img {
        margin-right: 0;
    }

    .action .text_action {
        padding: 5rem 1rem;
    }

    .action .circle1 {
        left: -450px;
    }

    .whyus {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10rem 2rem;
        gap: 2rem;
    }

    .whyus .text_whyus {
        width: 100%;
    }

    .stadistics {
        padding: 0 5rem 5rem 5rem;
    }

    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    #know {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 5rem 1rem;
    }

    #know .text_know {
        padding: 0 1rem;
        width: 100%;
    }

    #know .text_know,
    #know img {
        position: relative;
        z-index: 1;
    }
}

@media (width < 700px) {
    .header .menu ul {
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100vw;
        z-index: 1;
        background-color: #000000e9;
    }

    .header .menu ul {
        gap: 2rem;
    }

    .header .menu ul li a {
        color: white;
    }

    .action img {
        margin-right: -10rem;
    }
}

@media (width < 600px) {
    .hero {
        padding: 5rem 1rem 10rem;
    }

    .hero .img_hero {
        width: 300px;
        height: 300px;
    }

    .hero .img_hero::after {
        left: -200px;
        top: -150px;
    }

    .hero .img_hero::before {
        bottom: -150px;
        right: -150px;
    }

    .hero .img_hero img {
        width: 300px;
        transform: rotate(-20deg) translate(0px, 100%);
    }

    @keyframes revealRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: rotate(-20deg) translate(0px, 40px);
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 5rem;
    }

    .cards .card:first-child {
        background-image: linear-gradient(0deg,
                rgb(0, 0, 0),
                rgba(0, 0, 0, 0.6)), url("/assets/estadistica.png");
    }

    .cards .card:first-child {
        gap: 1rem;
        justify-content: center;
    }

    .cards .card:first-child h1 {
        font-size: 20px;
    }

    .cards .card:first-child p {
        font-size: 13px;
    }

    .cards .card:first-child,
    .cards .card:nth-child(2),
    .cards .card:last-child {
        height: 200px;
        gap: 1rem;
    }

    .services {
        margin-top: -2rem;
        padding: 2rem;
    }

    .action img {
        margin-right: -5rem;
        width: 400px;
    }

    .action .text_action {
        padding: 2rem;
        height: 50%;
    }

    .whyus img {
        width: 350px;
    }

    .stadistics {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 5rem 1rem;
        margin-top: -5rem;
    }

    .stadistics .stadistic {
        height: 150px;
    }

    #know .text_know h1 {
        font-size: 50px;
        margin-bottom: 1rem;
    }
}

@media (width < 450px) {
    .hero {
        gap: 4rem;
    }

    .hero .text_hero h1 {
        font-size: 35px;
        line-height: 40px;
        margin-top: .5rem;
    }

    .hero .text_hero {
        width: 100%;
    }

    .services {
        margin-top: -5rem;
        padding: 2rem 1rem;
    }

    .services .img_service {
        width: 300px;
    }

    .services .text_services {
        margin-top: -1rem;
    }

    .services .text_services p {
        padding: 0 1rem;
    }

    .services .text_services h1 {
        font-size: 50px;
        margin-bottom: 2rem;
    }

    .services .text_services button {
        padding: .7rem 1rem;
        flex: 0 0 auto;
    }

    .whyus {
        padding: 5rem 1rem;
    }

    .whyus .text_whyus h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .whyus img {
        width: 90%;
    }

    .stadistics {
        margin-top: 0;
    }

    .stadistics .stadistic {
        padding: 0 2rem;
        height: 150px;
    }

    .stadistics .stadistic h1 {
        font-size: 20px;
    }

    #know img {
        width: 70%;
    }

    #know::after {
        left: -300px;
    }

    #know::before {
        right: -250px;
    }
}

@media (width < 400px) {
    .hero .img_hero {
        width: 250px;
        height: 250px;
    }

    .hero .img_hero::after {
        left: -200px;
        top: -150px;
    }

    .hero .img_hero::before {
        bottom: -150px;
        right: -150px;
    }

    .hero .img_hero img {
        width: 250px;
        transform: rotate(-20deg) translate(0px, 100%);
    }

    @keyframes revealRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: rotate(-20deg) translate(0px, 20px);
        }
    }

    .action .text_action h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .action .text_action a {
        font-size: 13px;
        padding: .7rem 1rem;
    }

    .action img {
        width: 350px;
        margin-right: -5rem;
    }
}

@media (width < 350px) {
    .cards .card:first-child {
        height: 300px;
    }

    .services {
        margin-top: -6rem;
    }

    .services .img_service {
        width: 250px;
    }

    .services .text_services {
        margin-top: -3rem;
    }
}