@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

:root {
    --color-white: #fff;
    --color-grey-white: #f0f0f0;
    --color-grey: #cdcdcd;
    --color-black: #000;

    --color-rosa: #efd9ed;
}

.dark-mode {
    --color-white: #000000;
    --color-grey-white: #151515;
    --color-grey: #575757;
    --color-black: #ffffff;

    --color-rosa: #2c252b;
}

body {
    background-color: var(--color-grey-white);
}

header nav {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    width: 100px;
    cursor: pointer;
    transition: all .2s ease;
}

header nav img:hover {
    transform: scale(0.9);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header nav ul li a {
    font-size: 13px;
    color: var(--color-black);
}

header nav ul li {
    position: relative;
}

header nav ul li::after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: -3px;
    background-color: var(--color-grey);
    width: 0%;
    border-radius: 100px;
    transition: all .2s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.hero {
    padding: 0rem 3rem 1rem;
    position: relative;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 40%;
    transform: translateY(-50%) rotate(15deg);
    right: -200px;
    width: 800px;
}

.hero .container_hero {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.632),
            rgba(0, 0, 0, 0.904),
            rgba(0, 0, 0, 0.824)), url('/assets/oasis.jpeg');
    padding: 7rem 8rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: solid 2px var(--color-grey);
    position: relative;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.221);
}

.hero .container_hero h4 {
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.hero .container_hero h1 {
    font-size: 50px;
    color: white;
    font-weight: 1000;
    width: 300px;
    margin-bottom: 1rem;
}

.hero .container_hero a {
    padding: .7rem 2rem;
    font-size: 12px;
    border: solid 2px #9867E0;
    border-radius: 10px;
    color: white;
    display: inline-block;
    transition: all .2s ease;
}

.hero .container_hero a:hover {
    transform: translateX(20px);
    background-color: #9867E0;
    font-weight: 900;
}

.hero .container_hero p {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 200px;
    font-size: 12px;
    text-align: end;
    backdrop-filter: blur(60px);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    border: solid 1px #f0f0f0;
}

.hero .container_hero .container_redes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    left: 40px;
}

.hero .container_hero .container_redes i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    color: white;
    border: solid 1px #f0f0f0;
    cursor: pointer;
    transition: all .2s ease;
}

.hero .container_hero .container_redes i:hover {
    background-color: #f0f0f0;
    color: #000;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 3rem 10rem;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 3rem 2rem;
}

.cards .card:first-child {
    grid-column: 1/2;
    grid-row: 1;
    background-color: #9867E0;
    color: white;
}

.cards .card:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1;
    background-color: #E067D4;
    color: white;
}

.cards .card:last-child {
    grid-column: 1/3;
    grid-row: 2;
    background-color: #301942;
    color: white;
}

.cards .card h1 {
    font-size: 20px;
    font-weight: 900;
}

.cards .card p {
    font-size: 13px;
}

.cards .card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    flex: 0 0 auto;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.theme-switch {
    --toggle-size: 10px;
    --container-width: 5.125em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (width < 1100px) {
    .hero img {
        right: -350px;
    }

    .cards {
        padding: 3rem;
    }
}

@media (width < 1000px) {
    .hero img {
        top: 30px;
        transform: translateY(0) rotate(15deg);
    }

    .hero .container_hero {
        padding: 17rem 0rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media (width < 800px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (width < 650px) {
    header nav ul {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: #000000fd;
        transition: all .2s ease;
    }

    header nav ul.active {
        left: 0;
    }

    header nav ul li a {
        color: white;
    }

    .hero .container_hero {
        padding: 17rem 0;
    }

    .hero .container_hero .container_redes {
        transform: translateY(0);
        top: 74%;
    }

    .hero img {
        width: 500px;
        right: -200px;
    }
}

@media (width < 500px) {
    .hero .container_hero h4 {
        font-size: 9px;
        margin-bottom: .5rem;
    }

    .hero .container_hero h1 {
        font-size: 30px;
    }

    .hero .container_hero .container_redes {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 2rem;
        top: 71%;
        right: 0;
    }

    .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero .container_hero {
        padding: 12rem 0 14rem;
    }
}

@media (width < 400px) {
    header nav {
        padding: 2rem 1rem;
    }
    .hero {
        padding: 0 1rem 1rem;
    }

    .cards {
        padding: 3rem 1rem;
    }

    .hero img {
        right: -300px;
    }

    .hero .container_hero .container_redes {
        width: 100%;
        left: 0;
        padding: 0;
        justify-content: center;
    }

    .hero .container_hero .container_redes i {
        flex: 0 0 auto;
    }

    .hero .container_hero p {
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }
}